:root {
  --slide-transition-duration: 1s;
}

.container {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.container::after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(238 240 242);
  pointer-events: none;
  z-index: 2000;
}

.viewport {
  position: absolute;
  width: 100%;
  min-height: 100%;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
  touch-action: none;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Hide scrollbars but allow scrolling */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.row {
  position: absolute;
  width: 200vw; /* Two slides per row */
  min-height: 100vh;
}

.section {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  touch-action: none;
  -webkit-transform: translate3d(0,0,0);
  transform: translateY(0);
  transform-origin: center;
  will-change: transform;
}

.section.active {
  pointer-events: auto;
}

@keyframes slideFromBelow {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.section.slideFromBelow {
  transform: translateY(100vh);
  animation: slideFromBelow 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.horizontalContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 300vw; /* Assuming max 3 horizontal slides */
  min-height: 100vh;
  touch-action: none;
  -webkit-transform: translate3d(0,0,0);
}

.horizontalSection {
  flex: 0 0 100vw;
  width: 100vw;
  min-height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  -webkit-transform: translate3d(0,0,0);
}

.horizontalSection.active {
  pointer-events: auto;
}

.active {
  z-index: 1;
}
