.breadcrumbs-nav {
  position: fixed;
  bottom: 50px;
  height: 30px;
  left: 50%;
  border: 1px solid #cccccc47;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 10px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 2001; 
  pointer-events: auto; 
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.139);
}

.breadcrumbs-nav--visible {
  opacity: 1;
}

.breadcrumbs-nav--hidden {
  opacity: 0;
  pointer-events: none;
}

.horizontal-breadcrumbs {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.breadcrumb-button {
  width:20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(164, 164, 164, 0.82);
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
}

.breadcrumb-button:hover {
  border-color: rgba(255, 255, 255, 0.8);
}

.breadcrumb-button.active {
  background: #e6831d;
  border-color: white;
}

.breadcrumb-button--main {
  width: 20px;
  height:20px;
  border: 2px solid rgba(164, 164, 164, 0.82);
}

.breadcrumb-button--sub {
  width:20px;
  height: 20px;
  border: 2px solid rgba(164, 164, 164, 0.82);
}
@media (max-width: 300px) {
  .breadcrumbs-nav {
    bottom: 20px;
    height: 20px;
    width: 180px;
    gap: 12px;
    padding: 0;
  }

  .Breadcrumb-module__horizontal-breadcrumbs {
    gap: 0px;
  }

  .Breadcrumb-module__breadcrumb-button--sub {
    width: 10px;
    height: 10px;
    gap: 0px;
  }

}